@import "~antd/dist/antd.less";

@menuHeight: 60px;

.menu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    height: @menuHeight;
    line-height: @menuHeight;
    border-bottom: 1px solid @border-color-base;

    .menuItem {
        padding: 0 30px;
        text-decoration: none;
        display: block;
        height: @menuHeight;
        color: @text-color;
        cursor: pointer;
        border-bottom: 2px solid transparent;
        transition: all .3s;

        &:hover,
        &.menuActive {
            color: @primary-color;
            border-bottom: 2px solid @primary-color;
            transition: all .3s;
        }
    }
}
